snippet houtai "run on background, output to a file" b
( (
    ${1:# content}
) & ) > ${2:/dev/null} 2>&1
]]>
endsnippet

snippet here "get the absolute path of the dir this file is in" b
# get absoltae path to the dir this is in, work in bash, zsh
# if you want transfer symbolic link to true path, just change \`pwd\` to \`pwd -P\`
${1:here}=\$(cd "\$(dirname "\${BASH_SOURCE[0]-\$0}")"; pwd)
endsnippet


